<main class="page container">
    <header>
        <h5 class="page-subtitle">Designing a website to redefine nuclear energy</h5>
        <h2 class="page-title">Seaborg Technologies</h2>
    </header>
    <div class="full-width hero-image"></div>

    <article class="summary">
        <div class="details">
            <div>
                <h4>Role</h4>
                <p class="small-text">Branding|Art Direction|Copywriting</p>
            </div>
            <div>
                <h4>Team</h4>
                <p class="small-text">COO|Graphic Designer</p>
            </div>
            <div>
                <h4>Methods</h4>
                <p class="small-text">...</p>
            </div>
            <div>
                <h4>Live Site</h4>
                <p class="small-text">www.seaborg.co</p>
            </div>
        </div>
        <h1 class="intro-title">The Project</h1>
        <p class="intro-text">Seaborg is a Danish startup seeking to design and manufacture a new type of nuclear reactor, environmentally friendly, that will help renewables in moving towards a future of low-carbon emissions. In doing so, they hope to change the current perception about nuclear energy. They needed a website and branding  that reflected their values and mission. </p>
    </article>
    
    <div class="final-product">
        <img src="/assets/img/mockup1.png" alt="final product shot">
    </div>
    <article class="chapter background">
        <div class="chapter-headings">
            <h2 class="chapter-title">
                The Background
            </h2>
            <h3 class="chapter-subtitle">
                Sustainable Nuclear Energy?
            </h3>
        </div>
        <div class="chapter-content">
            <p>
                Yes, it sounds like an oxymoron, but, in fact, new nuclear is a key player in the fight agaisnt climate change. Most nuclear electricity comes from reactor designs that have not been updated since the 50s, and have well-known disadvantages. However, new types of reactors are being designed, which are more flexible, chaper, and most importantly, cleaner. Seaborg’s reactor is one of these. 
            </p>
        </div>
    </article>
    <figure>
        <div class="full-width golden-circles"></div>
        <figcaption>Start with why</figcaption>
    </figure>
    <article class="chapter">
        <div class="chapter-headings">
            <h2 class="chapter-title">
                Initial Research
            </h2>
            <h3 class="chapter-subtitle">
                It's not rocket science, or is it?
            </h3>
        </div>
        <div class="chapter-content">
            <p>
                Communicating what Seaborg was doing was walking a very delicate political line. So, before deciding what to write on the website, I led a series of workshops on defining the mission and vision of the company, what audience segments we wanted to target, and what messages we wanted to push with the website. 
                After a series of focused workshops, we sought feedback from the wider team, once key elements were put in place.
            </p>
        </div>
    </article>
    <article class="quote-image">
        <q>
        Forty nuclear scientists, in a room, thinking about branding.
        </q> 
        <img src="assets/img/40-physicists.png" alt="workshop">
    </article>
    <article class="chapter">
        <div class="chapter-headings">
            <h2 class="chapter-title">
                Structure and Content
            </h2>
            <h3 class="chapter-subtitle">
                Building the blueprint
            </h3>
        </div>
        <div class="chapter-content">
            <p>
                The second phase was a cycle of writing and defining the content of the website. 
                The structure of the website was the result of card-sting and white boarding sessions. I created wireframes for the different pages and encouraged the COO to start writing the content in them rather than using separate word documents. I ruthlessly edited the writing into concise, clear sentences. Each section was then tested with members of the chosen audience groups, including Seaborg’s PR agency.
            </p>
        </div>
        <div class="chapter-image">
            <img src="assets/img/wires.png" alt="">
        </div>
        <div class="chapter-content">
            <p>
                I wanted to stay visual as much as possible, and encouranged the communications and graphic designer of Seaborg to create diagrams and small  illustrations to accompany the more technical explanations.
            </p>
        </div>
    </article>
    <div class="full-width illustration"></div>
    <article class="chapter">
        <div class="chapter-headings">
            <h2 class="chapter-title">
                Visual Identity
            </h2>
            <h3 class="chapter-subtitle">
                Science doesn't have to be ugly
            </h3>
        </div>
        <div class="chapter-content">
            <p>
                In parallel, I led ideation sessions for the visual design, we came up with several concepts, presented them to the team and one was chosen. 
                I paired with Seaborg’s visual designer Susanne Husted to create a visual identity that was science-oriented, minimal and clean. A bold, graphic approach, was not suitable for the project, as flashy design could be detrimental to the carefully crafted technical message. The point was to inform and create trust, not to sell. My role was art directing, planning the story and flow of the website, and adapting the technical copy for the intended audience group.
            </p>
        </div>
    </article>
    <div class="full-width style-tyle"></div>
    <article class="chapter">
        <div class="chapter-headings">
            <h2 class="chapter-title">
                Brand Values
            </h2>
            <h3 class="chapter-subtitle">
                Forty physicists in a room, thinking about branding
            </h3>
        </div>
        <div class="chapter-content">
            <p>
                In parallel, I led ideation sessions for the visual design, we came up with several concepts, presented them to the team and one was chosen. 
                I paired with Seaborg’s visual designer Susanne Husted to create a visual identity that was science-oriented, minimal and clean. A bold, graphic approach, was not suitable for the project, as flashy design could be detrimental to the carefully crafted technical message. The point was to inform and create trust, not to sell. My role was art directing, planning the story and flow of the website, and adapting the technical copy for the intended audience group.
            </p>
        </div>
    </article>
    <article class="end-chapter">
        <div class="video">
            <img src="/assets/img/mockup1.png" alt="">
        </div>
        <div class="end-paragraph">
            <p>
                During my time in Seaborg, it went from around 9 full-time members, to almost 40, from being based in Denmark, to having partners in South East Asia. Seaborg features regularly in the Danish press and radio, and hopes to eventually shift the perception of nuclear energy, in the wider world.<br>
                <strong> You can see it live <a href="www.seaborg.co">here.</a></strong>
            </p>
        </div>
    </article>
    <div class="full-width closing-image"></div>
</main>