<main class="page container">
    <header>
        <h5 class="page-subtitle">Designing a website to redefine nuclear energy</h5>
        <h2 class="page-title">Seaborg Technologies</h2>
    </header>
    <div class="full-width hero-image"></div>

    <article class="summary">
        <div class="details">
            <div>
                <h4>Project Type</h4>
                <p class="small-text">Website Design</p>
            </div>
            <div>
                <h4>My Team</h4>
                <p class="small-text">COO, Graphic Designer</p>
            </div>
            <div>
                <h4>My Role</h4>
                <p class="small-text">Branding, Art Direction, Copywriting</p>
            </div>
            <div>
                <h4>Live Site</h4>
                <p class="small-text"><a href="https://www.seaborg.co/" target="_blank">www.seaborg.co</a></p>
            </div>
        </div>
        <h1 class="intro-title">The Project</h1>
        <p class="intro-text">Seaborg is a Danish startup seeking to design and manufacture a new type of nuclear reactor, environmentally friendly, that will help renewables in moving towards a future of low-carbon emissions. In doing so, they hope to change the current perception about nuclear energy. They needed a website and branding  that reflected their values and mission. </p>
    </article>
    
    <div class="final-product">
        <img src="/assets/img/seaborg/final-product.png" alt="final product shot">
    </div>
    <article class="chapter accent">
        <div class="chapter-headings">
            <h2 class="chapter-title">
                The Background
            </h2>
            <h3 class="chapter-subtitle">
                Sustainable Nuclear Energy?
            </h3>
        </div>
        <div class="chapter-content">
            <p>
                Yes, it sounds like an oxymoron, but, in fact, new nuclear is a key player in the fight agaisnt climate change. Most nuclear electricity comes from reactor designs that were designed a long time ago, and have well-known disadvantages. However, new types of reactors are being designed, which are more flexible, safer, cheaper, and most importantly, cleaner. <br>Seaborg’s reactor is one of these. 
            </p>
        </div>
    </article>
    <article class="chapter">
        <div class="chapter-headings">
            <h2 class="chapter-title">
                Initial Research
            </h2>
            <h3 class="chapter-subtitle">
                It's not rocket science, or is it?
            </h3>
        </div>
        <div class="chapter-content">
            <p>
                Communicating the objective of Seaborg required walking a very delicate political line. So, before deciding what to write on the website, I led a series of workshops on defining the mission and vision of the company, what audience segments we wanted to target, and what messages we wanted to push with the website. 
            </p>
        </div>
    </article>
    <figure>
        <div class="full-width golden-circles"></div>
        <figcaption>Start with why</figcaption>
    </figure>
    
    <article class="chapter">
        <div class="chapter-headings">
            <h2 class="chapter-title">
                Structure and Content
            </h2>
            <h3 class="chapter-subtitle">
                Writing first
            </h3>
        </div>
        <div class="chapter-content">
            <p>
                The second phase was a cycle of writing and defining the content of the website. 
                The structure of the website was the result of white-boarding sessions where we figured out what story did we want to tell. 
                Once the main structure was defined, we started figuring out the copy in the actual wireframes.
                <br>
                I ruthlessly edited the writing into concise, clear sentences. The idea was to keep the scientific rigour, but appealing to the general public. In the end, it's a nuclear reactor that Seaborg is building, so the tone had to be knowledgeable and reliable, but not alienating.
                <br>
                Each section was then tested with members of the chosen audience groups, and we got some feedback from Seaborg’s PR agency.    
            </p>
        </div>
        
    </article>

    <article class="quote">
        <q>
            In the end, it's a nuclear reactor that Seaborg is building, so the tone had to be knowledgeable and reliable, but not alienating.  
        </q>
    </article>
        
   

    <article class="image-chapter">
        <img src="/assets/img/seaborg/Process.png" alt="final product shot">
        <figcaption>From Story, to copy to wireframes</figcaption>
    </article>

    
    <article class="chapter">
        <div class="chapter-headings">
            <h2 class="chapter-title">
                Early Feedback
            </h2>
            <h3 class="chapter-subtitle">
                Be bold!
            </h3>
        </div>
        <div class="chapter-image">
            <img src="/assets/img/seaborg/initial-landing.png" alt="final product shot">
        </div>
        <div class="chapter-content">
            <p>
                Testing the new content from the landing page, we realised that we were so careful with mentioning the word "nuclear reactor" that, at first glance, the people from the target audience that we showed our website to, did not know what the company was about. <br>
                It was time to get a new slogan and be bold.
            </p>
        </div>
    </article>

    <div class="image-chapter">
        <picture>
            <source media="(max-width:800px)" srcset="assets/img/seaborg/tagline-mobile.png">
            <source media="(min-width:800px)" srcset="assets/img/seaborg/tagline-desk.png">
            <img src="assets/img/seaborg/tagline-desk.png" alt="" width="100%">
        </picture>
        <figcaption>Rethinking nuclear</figcaption>
    </div>

    <article class="chapter">
        <div class="chapter-headings">
            <h2 class="chapter-title">
                Visual Identity
            </h2>
            <h3 class="chapter-subtitle">
                Science doesn't have to be ugly
            </h3>
        </div>
        <div class="chapter-content">
            <p>
                In parallel, I led ideation sessions for the visual design.
                I paired with Seaborg’s visual designer, Susanne Husted Nielsen, to create a visual identity that was science-oriented, minimal and clean. A bold, graphic approach, was not suitable for the project, as "trendy" design could be detrimental to the carefully crafted technical message. The point was to inform and create trust, not to sell. My role was art directing, planning the story and flow of the website, and adapting the technical copy for the intended audience group.
            </p>
        </div>
    </article>

    <div class="image-chapter">
        <picture>
            <source media="(max-width:800px)" srcset="assets/img/seaborg/earth-atom.png">
            <source media="(min-width:800px)" srcset="assets/img/seaborg/earth-atom.png">
            <img src="assets/img/seaborg/earth-atom.png" alt="" width="100%">
        </picture>
    </div>
    <div class="image-chapter">
        <picture>
            <source media="(max-width:800px)" srcset="assets/img/seaborg/style-tile-mobile.png">
            <source media="(min-width:800px)" srcset="assets/img/seaborg/style-tile-desk.png">
            <img src="assets/img/seaborg/style-tile-desk.png" alt="" width="100%">
        </picture>
    </div>
    <div class="image-chapter">
        <picture>
            <source media="(max-width:800px)" srcset="assets/img/seaborg/full-landing.png">
                <source media="(min-width:800px)" srcset="assets/img/seaborg/full-landing.png">
                    <img src="assets/img/seaborg/full-landing.png" alt="" width="100%">
            </picture>
            <figcaption> Top: Susanne's render of my cover image concept.</figcaption>
            <figcaption>Middle: A styleguide for the website.  </figcaption> 
            <figcaption> Bottom: The final design of the landing page</figcaption>
    </div>

    <article class="chapter">
        <div class="chapter-headings">
            <h2 class="chapter-title">
                Brand Values
            </h2>
            <h3 class="chapter-subtitle">
                Forty physicists in a room, thinking about branding
            </h3>
        </div>
        <div class="chapter-content">
            <p>
                Seaborg's brand was intented to be <strong> bold, radical but pragmatic</strong>. It meant that, whilst being really direct about the nuclear reactor, Seaborg still needed to play it safe and be somewhat visually sympathetic to other science-based small companies.
            </p>
        </div>
    </article>
    <article class="end-chapter accent">
        <video  controls>
            <source src="assets/img/seaborg/seaborg_website.mov" type="video/mov">
            <source src="movie.ogg" type="video/ogg">
            Your browser does not support the video tag.
          </video> 
          <br>
        <div class="end-paragraph">
            <p>
                During my time in Seaborg, it went from around 9 full-time members, to almost 40, from being based in Denmark, to having partners in South East Asia. Seaborg features regularly in the Danish press and radio, and hopes to eventually shift the perception of nuclear energy, in the wider world.<br>
                <strong> You can see it live <a href="https://www.seaborg.co/" target="_blank">here.</a></strong>
            </p>
        </div>
    </article>
    <div class="full-width closing-image"></div>
</main>