<main class="page container">
    <header>
        <h5 class="page-subtitle">A designer who can code</h5>
        <h2 class="page-title">About Me</h2>
    </header>
    <div class="full-width hero-image"></div>

    <article class="summary">
        <div class="details">
            <div>
                <h4>Occupation</h4>
                <p class="small-text">UX and Digital Designer</p>
            </div>
            <div>
                <h4>Education </h4>
                <p class="small-text">Bath University, Imperial College London</p>
            </div>
            <div>
                <h4>Notable Employers</h4>
                <p class="small-text">Thoughtworks, Amnesty International</p>
            </div>
            <div>
                <h4>Currently</h4>
                <p class="small-text">Designs websites for a living</p>
            </div>
        </div>

        <h1 class="intro-title">My life</h1>
        <p> I was born in the Madrid <i>Extrarradio</i>, in the town of Leganés, whose claim to fame is having a street named after the band ACDC. My school years were spent filling the margins of my notebooks with drawings and spacing out in class (unless it was science or P.E.).
            <br>
            Eventually, I taught myself English by reading Harry Potter and moved to England, where I went to university to study Natural Sciences (which involved a mix of Biology, Programming, and HCI). 
            <br>
            It was a high point in my life when I got a scholarship to do a Master's degree, and a low when I graduated from it straight into the middle of a financial crisis. However, I quickly got a job as a technical consultant in London, as you usually do after studying science. Being a consultant made me tough and taught me to deal with clients. 
            <br>
            Very quickly, though, I gravitated towards UX because it satisfied my constant inner struggle between Science and Art. So, I hustled my way into it by shadowing work colleagues, volunteering as a sketchnoter at UX and IA conferences, reading lots of books, and just going for it. I started my journey 6 years ago, and now I am a designer who can code or a coder who can design. Although not necessarily both at the same time.
            <br>
            I now call Copenhagen my home, which means that every time I’ve moved cities, I’ve moved northwards. I fear that I’ll retire somewhere really cold.
             <br>
            In my free time, I like to do Yoga, play Football, draw comics, watch sad films d’auteur, and constantly rework my portfolio. 
        </p>
    </article>
