<div class="main-container">
    <div class="filters">
        <h5>
            All Projects
        </h5>
    </div>
    <div class="case-study" routerLink="seaborg">
        <div class="description">
            <h4>01</h4>
            <h5 class="page-subtitle">Designing a website to redefine nuclear energy</h5>
            <h2 class="page-title">Seaborg Technologies</h2>
        </div>
        <div class="thumb">
            <img src="assets/img/earth.png" alt="">
        </div>
    </div>
    <div class="case-study reverse" routerLink="piclo">
        <div class="thumb">
            <img src="assets/img/piclo/cover.svg" alt="">
        </div>
        <div class="description">
            <h4>02</h4>
            <h5 class="page-subtitle">Designing a marketplace for energy flexibility</h5>
            <h2 class="page-title">PlicloFlex</h2>
        </div>
    </div>
    <div class="case-study" routerLink="amnestyinternational">
        <div class="description">
            <h4>03</h4>
            <h5 class="page-subtitle">User Experience Design for a global NGO</h5>
            <h2 class="page-title">Amnesty International</h2>
        </div>
        <div class="thumb">
            <img src="assets/img/amnesty/amnesty-cover.png" alt="">
        </div>
    </div>
    <div class="case-study reverse" routerLink="shapeshift">
        <div class="description">
            <h4>04</h4>
            <h5 class="page-subtitle">Gender-Neutral Makeup Range</h5>
            <h2 class="page-title">ShapeShift</h2>
        </div>
        <div class="thumb">
            <img src="assets/img/shapeshift/shapeshift-cover.jpg" alt="">
        </div>
    </div>
</div>
