@import 'src/variables';

.main-container {
    padding-top: 0;
    // background-color: blue;
    .filters {
        border-bottom: 3px black solid;
        padding: $padding-v 0 2vh $padding-horizontal-casestudy;
    }
    .case-study {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-areas: 
        "description thumbnail";
        height: 30vh;
        border-bottom: 3px black solid;
        .description {
            grid-area: description;
            padding: 0 $padding-horizontal-casestudy;
            align-self: center;
        }
        .thumb {
            grid-area: thumbnail;
            overflow: hidden;
            img {
                height: 100%;
            }
        }
    }
    .reverse {
        grid-template-columns: 1fr 2fr;  
        grid-template-areas: "thumbnail description";
    }
}