@import 'mixins';
@import 'src/variables';

//nav states
.active-link {
    text-decoration: underline;
}

.nav-link {
    outline: 0;
}
nav ul li:hover {
    font-style: italic;
}

.logo {
    max-width: 100px;
}

//reponsive layout
//for mobile and tablet
@media only screen and(max-width: 800px){
    .main-container {
        // background-color: blue;
    }
}
//desktop sizes
@media only screen and (min-width: 800px) and (max-width:1920px){
    .main-container {
        display: grid;
        grid-template-columns: $nav-width $content-width $nav-width;
        // background-color: yellowgreen;
    }
} 
//for wide screens (full-HD and wider)
@media only screen and (min-width: 1920px) {
    .main-container {
        display: grid;
        grid-template-columns: 1fr 1680px 1fr; 
        background-color: pink; 
    }
    nav {
        border-left: 3px black solid;
    }
    .social-media {
        border-right: 3px black solid;
    }
} 

@media only screen and (min-width: 800px) {
    .main-container {
        grid-template-areas: "nav content social";
    }

    .logo {
        width: 70%;
        margin-left: auto;
        margin-right: auto;
        display: block;
        padding-top: $padding-vertical-casestudy;
    
        svg circle:hover{
            fill: #FA6333;
        }
    }

    nav {
        grid-area: nav;
        line-height: 70px;
        justify-self: right;
        // display: flex;
    
        border-right: 3px black solid;

        ul {
            margin:0;
            padding:0;
            list-style: none; 
            text-transform: uppercase;
            @include transform(rotate(90deg));
        }
        li {
            display: inline;
            padding: 0 20px;
        }
        //fix the mobile size
        
        // .logo:hover {
        //     svg img {
        //     }
        // }
    }

    .main-content {
        grid-area: content;
    }

    .social-media {
        grid-area: social;
        justify-self: left;

        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding-bottom: 5vh;
        border-left: 3px black solid;

    }
    nav, .social-media {
        position:sticky;
        top:0;
        height:100vh;
        width:$nav-width;
    }
   
}