@import 'mixins';
@import 'src/variables';


//NAV STYLING MOVE TO ITS OWN CSS
//nav states
.active-link {
    text-decoration: underline;
}

.nav-link {
    outline: 0;
}
nav ul li:hover {
    font-style: italic;
}

.logo {
    max-width: 100px;
}







//on desktop
@media only screen and(min-width: 800px) {
    #burger-container {
        display: none;
    }
    .sidenav {
        display: none;
    }
}

//for mobile and tablet
@media only screen and(max-width: 800px) {
    nav {
        display: none;
    }
    #burger-container {
        // display: block;
        background-color: white;
        border-bottom: 3px black solid;
        width: 100%;
        height:43px;
    }
    
    .logo-mobile img{
        margin-top: 5px;
        height: 30px;
        margin-left: 25px;
    }
    #burger {
        color: black;
    }
    
    /* Position and style the close button (top right corner) */
    .sidenav .closebtn, #burger {
    // .sidenav .closebtn, #burger-container{
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }
    
    //sidenav drawer for mobile
    .sidenav {
        height: 100%; 
        width: 0; /* 0 width - change this with JavaScript */
        position: fixed; 
        z-index: 1; 
        top: 0; 
        right: 0;
        background-color: #f9cc12;
        overflow-x: hidden; /* Disable horizontal scroll */
        padding-top: 60px; /* Place content 60px from the top */
        transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    }
    
    /* The navigation menu links */
    .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #ffffff;
        display: block;
        transition: 0.3s;
    }
    /* When you mouse over the navigation links, change their color */
    .sidenav a:hover {
        color: #f1f1f1;
    }
}



//RESPONSIVE LAYOUT

//desktop sizes
@media only screen and (min-width: 800px) and (max-width:1920px){
    .main-container {
        display: grid;
        grid-template-columns: $nav-width $content-width $nav-width;
        // background-color: yellowgreen;
    }
} 
//for wide screens (full-HD and wider)
@media only screen and (min-width: 1920px) {
    .main-container {
        display: grid;
        grid-template-columns: 1fr 1680px 1fr; 
        background-color: pink; 
    }
    nav {
        border-left: 3px black solid;
    }
    .social-media {
        border-right: 3px black solid;
    }
} 

@media only screen and (min-width: 800px) {
    .main-container {
        grid-template-areas: "nav content social";
    }
    
    .logo {
        width: 70%;
        margin-left: auto;
        margin-right: auto;
        display: block;
        padding-top: $padding-vertical-casestudy;
        
        svg circle:hover{
            fill: #FA6333;
        }
    }
    
    nav {
        grid-area: nav;
        line-height: 70px;
        justify-self: right;
        // display: flex;
        
        border-right: 3px black solid;
        
        ul {
            margin:0;
            padding:0;
            list-style: none; 
            text-transform: uppercase;
            @include transform(rotate(90deg));
        }
        li {
            display: inline;
            padding: 0 20px;
        }
        //fix the mobile size
    
    }
            
    .main-content {
        grid-area: content;
    }
    
    .social-media {
        grid-area: social;
        justify-self: left;
        
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding-bottom: 5vh;
        border-left: 3px black solid;
        
    }
    nav, .social-media {
        position:sticky;
        top:0;
        height:100vh;
        width:$nav-width;
    }
    
}