<main class="page-container">
    <header>
        <h5 class="page-subtitle">A Design team of one</h5>
        <h2 class="page-title">Forecast for PMs</h2>
    </header>

    <div class="full-width hero-image"></div>

    <article class="summary">
        <div class="details">
            <div>
                <h4>Project Type</h4>
                <p class="small-text">Product Design</p>
            </div>
            <div>
                <h4>My Team</h4>
                <p class="small-text">CEO, CTO</p>
            </div>
            <div>
                <h4>My Role</h4>
                <p class="small-text">UX/UI Designer in 2017</p>
            </div>
            <div>
                <h4>Live Product</h4>
                <p class="small-text"><a href="https://www.seaborg.co/" target="_blank">www.forecast.app</a></p>
            </div>
        </div>
        <h1 class="intro-title">The Project</h1>
        <p class="intro-text">When I joined in 2017, Forecast was a small team of less than 10 people, and the developers had been working on the beta version for one year, without any design or research. We were three months from going live. As the Lead Designer, I  was tasked with introducing design rigour to an existing product as well as introducing new features.<br>
        In this case study, I’ll describe my process to bring to life the Scheduling feature, our key differentiator according to the business team, whilst at the same time redesigning existing features. </p>
    </article>
    <div class="final-product">
        <img src="/assets/img/forecast/final-product.png" alt="final product shot">
    </div>
    <article class="chapter accent-light">
        <div class="chapter-headings">
            <h2 class="chapter-title">
                My Tasks
            </h2>
            <h3 class="chapter-subtitle">
                Tackling multiple fronts
            </h3>
        </div>
        <div class="chapter-content">
            <ol>
                <li>Defining a research strategy</li>
                <li>Building the interface</li>
                <li>Validating features</li>
            </ol> 
        </div>
    </article>

    <article class="accent">
        <h4 class="section-title">1. Defining a research strategy</h4>
    </article>

    <article class="chapter">
        <div class="chapter-headings">
            <h2 class="chapter-title">
                Interviews
            </h2>
            <h3 class="chapter-subtitle">
                Understanding the users
            </h3>
        </div>
        <div class="chapter-content">
            After defining the problem, we created a research plan which aimed to answer roughly the question of <strong> “which main problems did Project Managers faced on a day-to-day basis?”</strong> <br>
            In order to do this, I decided to start by planning a series of structured interviews. We recruited a series of candidates, by attending a Project Management meetup 
        </div>
    </article>
    <article class="chapter">
        <div class="chapter-headings">
            <h2 class="chapter-title">
                Current state mapping
            </h2>
            <h3 class="chapter-subtitle">
                Understanding the problem
            </h3>
        </div>
        <div class="chapter-image">
            <img src="assets/img/forecast/current-state-map.png" alt="">
        </div>
        <div class="chapter-content">
            After the interviews and some sessions of whiteboarding with willing PMs , we mapped an ideal project lifecycle, and segmented different types of PMs according  to:
            <ul>
                <li>The stage they got involved in (i.e. pre-sales, delivery, or 	sign-off).</li>
                <li>
                    At what scale (i.e. did they manage one or multiple projects). 
                </li>
            </ul>
        One of those segments were the <strong> Resource Managers</strong>, the intended users of the Scheduling feature.
        </div>
    </article>
    <article class="chapter">
        <div class="chapter-headings">
            <h2 class="chapter-title">
                Personas
            </h2>
            <h3 class="chapter-subtitle">
                Communicating findings to the team
            </h3>
        </div>
        <div class="chapter-content">
            I created personas and storyboards to summarise findings, as most of my team had actually never met any of the intended users, and I wanted to put a face behind the screen, and create some empathy in the dev team.
            The personas were segmented initially, as per our current state map, with the caveat that they were assumptions.
        </div>
        <div class="chapter-image">
            <picture>
                <source media="(max-width:800px)" srcset="assets/img/forecast/personas-mobile.png">
                <source media="(min-width:800px)" srcset="assets/img/forecast/personas-desk.png">
                <img src="assets/img/forecast/personas-desk.png" alt="" width="100%">
            </picture>
        </div>
        <div class="chapter-content">
            The users of Scheduling, the Resource Managers (RMs), turned out to have very special needs.
        </div>
    </article>
    <article class="quote">
        <q>
            “We need to ensure that for every project that comes in we have a team ready to start within two weeks of signature date so we need to be looking down the pipeline.”
        </q>
        <br>
        <q>
            “My main challenges are allocating the right people into projects. Sometimes we only get a deal if a key team member can be placed in the project.”
        </q>
    </article>
    <article class="accent">
        <h4 class="section-title">1. Building the interface</h4>
    </article>
    <article class="chapter">
        <div class="chapter-headings">
            <h2 class="chapter-title">
                From Research to Features
            </h2>
            <h3 class="chapter-subtitle">
               Making research tangible
            </h3>
        </div>
        <div class="chapter-content">
            In a spreadsheet, I distiled the main insights from the research stage. Together with the CEO, who was acting as business owner, we prioritised them, according to what was more aligned to the business plan.
            Here is an example from Scheduling that shows how research insights are turned into features:
        </div>
        <div class="chapter-image">
            <picture>
                <source media="(max-width:800px)" srcset="assets/img/forecast/insight-to-userjourney-mobile.png">
                <source media="(min-width:800px)" srcset="assets/img/forecast/insight-to-userjourney-desk.png">
                <img src="assets/img/forecast/insight-to-userjourney-desk.png" alt="" width="100%">
            </picture>
        </div>
    </article>
    <article class="image-chapter">
        <img src="/assets/img/forecast/map.png" alt="final product shot">
        <figcaption>3 High level tasks to user flows</figcaption>
    </article>
    <br>
    <article class="image-chapter">
        <img src="/assets/img/forecast/flows-to-wires.png" alt="final product shot">
        <figcaption>4 User Flows to Wireframes</figcaption>
    </article>
    <br>
    <article class="chapter accent">
        <div class="chapter-headings">
            <h2 class="chapter-title">
                Scheduling Interface
            </h2>
            <h3 class="chapter-subtitle">
               Progression
            </h3>
        </div>
        <div class="chapter-content">
            <p>
                The UI design for Scheduling was based on a calendar.  Most RMs interviewd were using self-made calendars, so I decided to start with something familiar.
            </p>
        </div>
        <div class="chapter-image">
            <picture>
                <source media="(max-width:800px)" srcset="assets/img/forecast/scheduling-mobile.png">
                <source media="(min-width:800px)" srcset="assets/img/forecast/scheduling-desk.png">
                <img src="assets/img/forecast/scheduling-desk.png" alt="" width="100%">
            </picture>
        </div>
    </article>
    <article class="image-chapter">
        <img src="/assets/img/forecast/UI-parts.png" alt="UI parts">
        <figcaption>4 User Flows to Wireframes</figcaption>
    </article>
    <br>
    <br>
    <article class="accent">
        <h4 class="section-title">3. Validating features</h4>
    </article>
    <article class="chapter">
        <div class="chapter-headings">
            <h2 class="chapter-title">
                Continuous feedback
            </h2>
            <h3 class="chapter-subtitle">
               Usability testing
            </h3>
        </div>
        <div class="chapter-content">
            <p>
                I organised regular usability testing sessions, as features trickled down to production. To validate the Scheduling user journey, the CTO and me developed a working prototype in a testing environment. It addressed the overall concern of bridging the gap between the work-planning and people-scheduling identified during research.
            </p>
        </div>
        <div class="chapter-image">
            <picture>
                <source media="(max-width:800px)" srcset="assets/img/forecast/recording.png">
                <source media="(min-width:800px)" srcset="assets/img/forecast/recording.png">
                <img src="assets/img/forecast/recording.png" alt="" width="100%">
            </picture>
        </div>
    </article>
    <article class="chapter accent-light">
        <div class="chapter-headings">
            <h2 class="chapter-title">
                Findings
            </h2>
            <h3 class="chapter-subtitle">
               Quick Booking
            </h3>
        </div>
        <div class="chapter-content">
            <p>
                During the user testing sessions, it quickly surfaced that the resource managers operated at two different levels: when they had to staff a new project and when they had to quickly replace team members at existing projects. <br> Most RM tools use the calendar approach to resource projects. This satisfies the first scenario, but makes the second one somewhat time-intensive. 
                <br> 
                I realised that staffing a particular person/role into an existing project — with time and price contraints — was very much like booking a flight. We used this analogy to build Quickbooking — the next vesion of the schedulling feature.
            </p>
        </div>
        <div class="chapter-image">
            <picture>
                <source media="(max-width:800px)" srcset="assets/img/forecast/quickbooking.png">
                <source media="(min-width:800px)" srcset="assets/img/forecast/quickbooking.png">
                <img src="assets/img/forecast/quickbooking.png" alt="" width="100%">
            </picture>
        </div>
    </article>
    <article class="chapter">
        <div class="chapter-headings">
            <h2 class="chapter-title">
                Incorporating Feedback
            </h2>
            <h3 class="chapter-subtitle">
               Demos and Retros
            </h3>
        </div>
        <div class="chapter-content">
            <p>
                The insights from usability testing were prioritised with the rest of the work, at sprint kick-off, and trickled down to the backlog as bugs, new features or improvements to existing features.
                As well as qualitative usability testing, online surveys and intercom issue tracking, we also regularly gathered quantitative feedback from Hotjar analytics in order to identify trends of usability. 
            </p>
        </div>
        <div class="chapter-image">
            <picture>
                <source media="(max-width:800px)" srcset="assets/img/forecast/last-picture.png">
                <source media="(min-width:800px)" srcset="assets/img/forecast/last-picture.png">
                <img src="assets/img/forecast/last-picture.png" alt="" width="100%">
            </picture>
        </div>
    </article>
    
</main>
