// GLOBAL styles here


// styles for all case studies here



// styles for seaborg only here

.background {
    background-color: #17466A;
    h2,h3,p {
        color: white;
    }
}
.final-product {
    background: linear-gradient(to bottom, white 0%,white 50%,#17466A 50%,#17466A 100%); /* W3C */
}

//full-width image path
.hero-image {
    background-image: url("/assets/img/piclo/cover.svg"); 
    height: 50vh; /* You must set a specified height */
    
}
.service-blueprint {
    background-image: url("/assets/img/piclo/blueprint-map2.png"); 
    height: 70vh; /* You must set a specified height */
}
