$primary: #17466A;
$secondary: #B3CEE9;

// styles for seaborg only here
.accent {
    background-color: $primary;
    h2,h3,p {
        color: white;
    }
}
.accent-light{
    background-color: $secondary;
   
}

.final-product {
    background: linear-gradient(to bottom, white 0%,white 50%,$secondary 50%,$secondary 100%); /* W3C */
}

// images
.hero-image {
    background-image: url("/assets/img/piclo/cover.svg"); 
    height: 50vh; /* You must set a specified height */
}
.service-blueprint {
    background-image: url("/assets/img/piclo/map2.png"); 
    height: 70vh; /* You must set a specified height */
}
