<main class="page container">
    <header>
        <h5 class="page-subtitle">Designing a marketplace for energy flexibility</h5>
        <h2 class="page-title">PicloFlex</h2>
    </header>
    <div class="full-width hero-image"></div>
    <p class="small-text">The credit of this image is for Piclo</p>

    <article class="summary">
        <div class="details">
            <div>
                <h4>Role</h4>
                <p class="small-text">Product Design</p>
            </div>
            <div>
                <h4>Team</h4>
                <p class="small-text">CPO | CTO</p>
            </div>
            <div>
                <h4>Methods</h4>
                <p class="small-text">Hypothesis-Driven Design</p>
            </div>
            <div>
                <h4>Live Site</h4>
                <p class="small-text">www.picloflex.com</p>
            </div>
        </div>
        <h1 class="intro-title">The Project</h1>
        <p class="intro-text">PicloFlex is an independent marketplace to trade energy flexibility online, with the purpose of balancing the grid, thus facilitating the transition to renewable energy sources.
       I worked with Piclo  <strong>defining, prototyping, designing and testing the marketplace </strong>, in the period leading to the launch of the product </p>
    </article>
    <div class="final-product">
        <img src="/assets/img/piclo/final-product2.png" alt="final product shot">
    </div>

    <article class="chapter accent-light">
        <div class="chapter-headings">
            <h2 class="chapter-title">
                Problem Statement
            </h2>
            
        </div>
        <div class="chapter-content">
            <p>
               Energy flexibility across the grid can be traded between flexibility providers (sellers) and the grid network operators (buyers). This is, traditionally, a long and bureaucratic process. Our aim was to replace it with a marketplace app.
               <br>The first step was to understand the big, complex organisations that pushed the flexibility tenders, the “marketplace buyers”, and in particular, the tendering and procurement processes.
            </p>
        </div>
    </article>

    <article class="chapter accent">
        <div class="chapter-headings">
            <h2 class="chapter-title">
            Methods: Double Diamond
            </h2>
            <h3 class="chapter-subtitle">
                We started by understanding and designing the procurement process.
            </h3>
        </div>

        <div class="chapter-image">
            <img src="assets/img/piclo/process1.png" alt="">
        </div>
    </article>


    <article class="chapter">
        <div class="chapter-headings">
            <h2 class="chapter-title">
                Discovery
            </h2>
            <h3 class="chapter-subtitle">
                Current State Mapping
            </h3>
        </div>

        <div class="chapter-content">
            <p>
                We partnered with one of the big network operators in the UK  (the “buyers”) and alongside Piclo’s CPO, I facilitated mapping workshops and separate structured interviews, in order to understand their energy procurement process. It was an omnichannel, crossfuntional and bureaucratic process that normally lasted for months.  <br>
                For the workshops, we gathered representatives of the procurement, commercial, legal and communications departments, and mapped how each team participated in each stage. In the blueprint we indentified technology touchpoints, teams involved, as well as current pain points and opportunities.
            </p>
        </div>
        <!-- <div class="chapter-image">
            <img src="assets/img/piclo/map.png" alt="">
        </div> -->
    </article>
    <figure>
        <div class="full-width service-blueprint"></div>
        <figcaption>The final blueprint map</figcaption>
    </figure>

    <article class="chapter">
        <div class="chapter-headings">
            <h2 class="chapter-title">
                Mapping Assumptions
            </h2>
            <h3 class="chapter-subtitle">
                Shared understanding
            </h3>
        </div>
        <div class="chapter-content">
            <p>
                In order to formalise a list of features from the findings uncovered during the interviews and the mapping, we identified the assumptions that were implicit in our proposed solution. I took this an opportunity to get aligned as a team in terms of what we were building, so that we would have less meetings in the future.  I facilitated a workshop on assumptions gatherings, for the co-founders and lead developers. 
                The result was a list of features, which we affinity mapped and prioritised.
            </p>
        </div>
        <div class="chapter-image">
            <picture>
                <source media="(max-width:800px)" srcset="assets/img/piclo/assumptions-mobile.png">
                <source media="(min-width:800px)" srcset="assets/img/piclo/assumptions-desk.png">
                <img src="assets/img/piclo/assumptions-mobile.png" alt="" width="100%">
            </picture>
            <!-- <img src="assets/img/piclo/assumptions.png" alt=""> -->
        </div>
    </article>
    <article class="chapter accent">
        <div class="chapter-headings">
            <h2 class="chapter-title">
                Methods: Interactive Prototype
            </h2>
        </div>

        <div class="chapter-image">
            <img src="assets/img/piclo/process2.png" alt="">
        </div>
    </article>

    <article class="chapter">
        <div class="chapter-headings">
            <h2 class="chapter-title">
                The Prototype
            </h2>
            <h3 class="chapter-subtitle">
                Hypothesis-driven design
            </h3>
        </div>

        <div class="chapter-content">
            <p>
             The main assumptions then became hypotheses about features of the marketplace. In order to validate what we learnt from The Buyers, we built an interactive prototype from the initial research and tested it with The Sellers.  
            </p>
        </div>
        <div class="chapter-image">
            <img src="assets/img/piclo/prototype-inv.png" alt="">
        </div>
    </article>

    <article class="chapter accent-light">
        <div class="chapter-headings">
            <h2 class="chapter-title">
                Feedback
            </h2>
            
        </div>

        <div class="chapter-content">
            <h4 class="chapter-subtitle">
                More Complexity
            </h4>
            <br>
            <p>
                An early piece of feedback was that we had oversimplified the Sellers’ assets. A much higher level of detail was needed for them to make sense to the Buyers This also meant that a more complex way to upload data was needed - we went from a simple form, to a bulk upload page with data validation.
            </p>
        </div>
        <div class="chapter-image">
            <picture>
                <source media="(max-width:800px)" srcset="assets/img/piclo/more-complexity-mobile.png">
                <source media="(min-width:800px)" srcset="assets/img/piclo/more-complexity-desk.png">
                <img src="assets/img/piclo/more-complexity-mobile.png" alt="" width="100%">
            </picture>
        </div>
        <div class="chapter-content">
            <h4 class="chapter-subtitle">
                Less Abstraction
            </h4>
            <br>
            <p>
                The original idea was to overlap the Buyers Areas of need and the Sellers assets, and to advertise any overlaps as a “match”. Feedback from the user was that displaying the assets ina map was a very helpful, however, co-location alone was too simplistic a criteria to generate a match. So, we dropped the term and the automatic matching, but we kept the visual overlap in the map. The need for displaying more information about the asset, so that the user could determine if there was an opportunity (our old “match”), drove my decision of making a split screen interface.
            </p>
        </div>
        <div class="chapter-image">
            <img src="assets/img/piclo/matching.png" alt="">
        </div>
    </article>


    <article class="chapter">
        <div class="chapter-headings">
            <h2 class="chapter-title">
                Outcomes
            </h2>
            <h3 class="chapter-subtitle">
                Iterating through the prototype
            </h3>
        </div>

        <div class="chapter-content">
            <p>
                The whole process took 6 months and several iterations of the prototype. During those months we:
            </p>
            <ul>
                <li> Defined and standardised a selling process that all Sellers country-wise could agree on. </li>
                <li> Co-created a format for Buyers to upload data from their assets.</li>
                <li>
                Defined standards in naming marketplace items and stages
                </li>
                <li>
                Defined what information to reveal at what stages, in order to remain a neutral marketplace, compliant with the regulators.
                </li>
            </ul>
        </div>
        
    </article>
    <article class="image-chapter">
            <img src="assets/img/piclo/prototype2.png" alt="">
    </article>
           

    <article class="chapter accent">
        <div class="chapter-headings">
            <h2 class="chapter-title">
                Building the Interface
            </h2>
            <h3 class="chapter-subtitle">
                ...
            </h3>
        </div>

        <div class="chapter-image">
            <img src="assets/img/piclo/process3.png" alt="">
        </div>
    </article>

    <article class="chapter accent-light">
        <div class="chapter-headings">
            <h2 class="chapter-title">
                UI Patterns
            </h2>
        </div>
        <div class="chapter-content">
            <p>
                After few rounds of testing, the prototype required less changes, and I started refining the interface.
            </p>
            </div>
    </article>

    <article class="image-chapter">
        <img src="assets/img/piclo/UI-patterns2.png" alt="">
        
</article>
    

    <article class="chapter">
        <div class="chapter-headings">
            <h2 class="chapter-title">
                The Launch
            </h2>
        </div>

        <div class="chapter-content">
            <p>
                PicloFlex launched in the summer of 2018. As of today, all 7 of the UK DNOs have subrscribed to the Marketplace, and have had successful trading seasons.
            </p>
            <a href="www.picloflex.com">Live Project</a>
        </div>
        <div class="chapter-image">
            <img src="assets/img/piclo/mockup_piclo2.jpg" alt="">
        </div>
    </article>
</main>
