.image-chapter {
    padding: 0;
    line-height: 0;
    img {
       width: 100%;
   }
   figcaption {
       line-height: 1.4 ;
   }
} 

@media only screen and (max-width: 800px){
    .summary .details {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 2;  
        column-gap: $gap-width; 
    }

    .chapter-content {
        padding-top: $padding-vertical-casestudy;
        padding-bottom: $padding-vertical-casestudy;
    }
}

//for desktop
@media only screen and (min-width: 800px){
    .summary {
        display: grid;
        grid-template-columns: 1fr 3fr;
        grid-template-rows: 2;
        column-gap: $gap-width;

        .details {
            grid-column-start: 2;
            
            display: grid;
            grid-template-columns: repeat(4, 1fr);  
            column-gap: $gap-width; 
        }
        .intro-title {
            grid-column-start: 1;
            grid-row-start: 2;
        }
        .intro-text {
            grid-column-start: 2;
            grid-row-start: 2;
        }
    }

    .chapter {
        display: grid;
        grid-template-columns: 1fr 3fr;
        column-gap: $gap-width;

        .chapter-title {
            padding: $padding-vertical-casestudy 0;
        }
        .chapter-content, .chapter-image {
            grid-column-start: 2;
            padding: $padding-vertical-casestudy 0;
        }
        
    }
  


    header {
        display: grid;
        grid-template-columns: 1fr 3fr;
        column-gap: $gap-width;
        .page-subtitle, .page-title {
            grid-column-start: 2;
        }
    }

    .quote-image {
        display: grid;
        grid-template-columns: 1fr 1fr;  
        column-gap: $gap-width;
        color: white;
        // text-align: center
        q {
            // display: block
        }
        img {
            max-width: 100%;
        }
    }
}

//for desk and mobile

///spacing 

//fixing spacing in summary text
.summary .details {
    padding-bottom: (2*$padding-vertical-casestudy);

    div h4{
        padding-bottom: (0.25*$padding-vertical-casestudy
);
    }
    div p {
        padding-bottom: (0.5*$padding-vertical-casestudy
); 
    }
}

//horizontal and vertical padding for each element
article {
    padding: (3*$padding-vertical-casestudy) $padding-horizontal-casestudy;
}
header {
    padding: $padding-v $padding-horizontal-casestudy;
}

.final-product img {
    padding-left: $padding-horizontal-casestudy;
    max-width: $full-width-image;

    @media screen and (max-width: 375px) {
       max-width: 90%;
       padding-left: $padding-horizontal-casestudy; 
    }
}

.end-chapter img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-width: $full-width-image;
    padding-bottom: $padding-vertical-casestudy;
}
.chapter .chapter-image img {
    max-width: 100%;
}

.quote-image img {
    max-width: 100%;

}
figcaption {
    padding-left: $padding-horizontal-casestudy;
}

figure {
    margin:0;
}

.quote {
   background-color: black;
   color: white;
//    text-align: center; 
   padding-left: $padding-horizontal-casestudy;
}

video {
    width:100%
}

.full-width {
    background-color: #cccccc; /* Used if the image is unavailable */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

