// @import 'fonts';
@import 'variables';
@import 'typography';
@import 'case-studies'; // TODO: refactor when introducing lazy loading - should only be used with case-studies components

//box-sizing to all elements to get correct sizing
* {
    box-sizing: border-box;
}
 html {
     strong {
         font-weight: 700;
     }
     br {
        display: block;
        margin: 10px 0;
     }
 }