// @import 'fonts';
@import 'variables';

//box-sizing to all elements to get correct sizing
* {
    box-sizing: border-box;
}

html,
input {
    //for smoothing fonts in high density screens
    -webkit-font-smoothing: antialiased;
}
html {
    //set base font
    font-size: 16px;
    
}


@media screen and (min-width: 320px) {
    html {
      font-size: calc(16px + 6 * ((100vw - 320px) / 680));
    }
  }
  @media screen and (min-width: 1000px) {
    html {
      font-size: 22px;
    }
  }

///rest of css here

body, h1,h2,h3,h4,h5,h6,p {
    margin:0;
    // color:#414141;
    color: black;
    line-height: 1.2; 
}
a {
    text-decoration: none;
    // color: #414141;
    color: black;
}

//typography hierarchy for desktop
/* 
 each case study will have a different colour for the main title.
 make a mixin to change this colour dynamically
*/ 

body {
    font-family: neue-haas-unica, sans-serif;
    font-weight: 100;
    font-style: normal;
    // font-size: 28px;
    font-size: 110%;
    
}

h1 {
    font-family: Caudex, serif;
    // font-size: 60px;
    font-size: 220%;
    font-weight: 700;
    // font-size: 2em;
}
h2 {
    font-family: Caudex, serif;
    // font-size: 40px;
    font-size: 200%;
    font-weight: 700;
    // font-size: 1.8em;
} 

//there's only 3 levels of type...
h3 {
    font-family: neue-haas-unica, sans-serif;
    font-weight: 100;
    font-style: italic;
    // font-size: 30px;
    font-size: 80%;
}

h4 {
    font-family: neue-haas-unica, sans-serif;
    font-weight: 700;
    font-style: normal;
    // font-size: 30px;
    font-size: 80%;
    text-transform: uppercase;
    }

h5, figcaption {
    font-family: neue-haas-unica, sans-serif;
    font-weight: 200;
    font-style: normal;
    // font-size: 20px;
    font-size: 70%;
    text-transform: uppercase;
}

q {
    font-family: neue-haas-unica, sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 160%;
}

.small-text {
    font-family: neue-haas-unica, sans-serif;
    font-weight: 100;
    font-style: normal;
    // font-size: 18px;
    font-size: 60%;
    margin:0;
}



// case study layout styles

//tablet & mobile
@media only screen and (max-width: 800px){
    .summary .details {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 2;  
        column-gap: $gap-width; 

    }

    .chapter-content {
        padding-top: $padding-vertical-casestudy;
        padding-bottom: $padding-vertical-casestudy;
    }
        
}

//for desktop
@media only screen and (min-width: 800px){
    .summary {
        display: grid;
        grid-template-columns: 1fr 3fr;
        grid-template-rows: 2;
        column-gap: $gap-width;

        .details {
            grid-column-start: 2;
            
            display: grid;
            grid-template-columns: repeat(4, 1fr);  
            column-gap: $gap-width; 
        }
        .intro-title {
            grid-column-start: 1;
            grid-row-start: 2;
        }
        .intro-text {
            grid-column-start: 2;
            grid-row-start: 2;
        }
    }

    .chapter {
        display: grid;
        grid-template-columns: 1fr 3fr;
        column-gap: $gap-width;

        .chapter-title {
            padding: $padding-vertical-casestudy 0;
        }
        .chapter-content, .chapter-image {
            grid-column-start: 2;
            padding: $padding-vertical-casestudy 0;
        }
        
    }


    header {
        display: grid;
        grid-template-columns: 1fr 3fr;
        column-gap: $gap-width;
        .page-subtitle, .page-title {
            grid-column-start: 2;
        }
    }

    .quote-image {
        display: grid;
        grid-template-columns: 1fr 1fr;  
        column-gap: $gap-width;
        color: white;
        // text-align: center
        q {
            // display: block
        }
        img {
            max-width: 100%;
        }
    }
    
}

//for desk and mobile

///spacing 

    //fixing spacing in summary text
    .summary .details {
        padding-bottom: (2*$padding-vertical-casestudy);

        div h4{
            padding-bottom: (0.25*$padding-vertical-casestudy
    );
        }
        div p {
            padding-bottom: (0.5*$padding-vertical-casestudy
    ); 
        }
    }

    //horizontal and vertical padding for each element
    article {
        padding: (3*$padding-vertical-casestudy) $padding-horizontal-casestudy;
    }
    header {
        padding: $padding-vertical-casestudy $padding-horizontal-casestudy;
    }

.final-product img{
    padding-left: $padding-horizontal-casestudy;
    max-width: $full-width-image;

    @media screen and (max-width: 375px) {
       max-width: 80%;
       padding-left: $padding-horizontal-casestudy; 
    }
}

.end-chapter img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-width: $full-width-image;
    padding-bottom: $padding-vertical-casestudy;
}
.chapter .chapter-image img{
    max-width: 100%;
}

.quote-image img {
    max-width: 100%;
}

figure {
    margin:0;
    figcaption {
        padding-left: $padding-horizontal-casestudy;
    }
}


.full-width {
    background-color: #cccccc; /* Used if the image is unavailable */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}



