@import 'src/variables';

//layout
.container {
    // margin-top: 5vh;
    height:100vh;
    gap:3px;
    display: grid;
    
    background-color: black;
    div {
        background-color: white;
    }
    .title {
        background-color: #F9CC12;
    }
    .portfolio-picture {
        background-color: #5e0075ff; 
    }
    .about-picture {
        background-color: #fa5274ff
    }
    // border-top: 3px black solid;
}


//tablet and mobile layout 
@media screen and (max-width: 800px){
    .container {

        grid-template-columns: 1fr;
        grid-template-areas: 
        "header"
        "headline"
        "animation"
        "portfolio"
        "portfolio-picture"
        "about"
        "about-picture"
    }
    .title {
        h1 {
            font-size: 350%;
        }
        // height: 20vh;
    }
    .headline {
        h2 {
            font-size: 150%; 
        }
    }
    .title, .headline, .portfolio, .about {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 $padding-h;
    }
}
//desktop
@media screen and (min-width: 800px){
    .container {
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: repeat(2,1fr);
        grid-template-areas: 
        "header header animation animation"
        "headline headline animation animation"
        // "portfolio portfolio-picture about about-picture";
    }
    .title {
        h1 {
            font-size: 480%;
        }
    }
    
    .title, .headline, .portfolio, .about {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 0 $padding-h;
    }
}

.title {
    grid-area: header;
    h1 {
        text-transform: uppercase;
    }
}
.headline {
    grid-area: headline;
    h2 {
        font-family: neue-haas-unica;
        font-weight: 400;
    }
    text-transform: uppercase;
}
.portfolio, .about {
    h3 {
        font-style: normal;
    }
}

.animation {
    grid-area: animation;
    overflow: hidden;
}
.portfolio {
    grid-area: portfolio;
}
.portfolio-picture {
    grid-area: portfolio-picture;
}
.about{
    grid-area: about;
}
.about-picture {
    grid-area: about-picture;
}





